body {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.ball {
  background-color: rgb(63, 61, 61, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
  transform: translate(-15px, -15px);
  pointer-events: none;


}

body.noCursor {
  cursor: none;
}