.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

}

.filtersContainer {
  display: flex;
  border: solid blue 1px;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}